<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Sign Up</title>
    <style>
        .field-error {
            border-color: red;
            color: red;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="text-center my-5">
        <h2>동촌 떡방앗간</h2>
    </div>
    <div class="text-center">
        <form th:action method="post" th:object="${form}">
            <div class="form-group">
                <label class="control-label col-sm-2" for="loginId">아이디</label>
                <input type="text" id="loginId" th:field="*{loginId}" placeholder="아이디를 입력해주세요.">
                <div class="field-error" th:errors="*{loginId}">
                    오류 메시지
                </div>
            </div>
            <div>
                <label class="control-label col-sm-2" for="password">비밀번호</label>
                <input type="text" id="password" th:field="*{password}" placeholder="비밀번호를 입력해주세요.">
                <div class="field-error" th:errors="*{password}">
                    오류 메시지
                </div>
            </div>
            <div class="my-3">
                <label class="control-label col-sm-2" for="checkPassword">비밀번호 확인</label>
                <input type="text" id="checkPassword" th:field="*{checkPassword}" placeholder="비밀번호를 다시 입력해주세요.">
<!--                비밀번호 다름 오류 부분-->
            </div>
            <div>
                <button type="submit" class="btn btn-primary my-5">회원가입</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>