<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .container {
            max-width: 800px;
        }
    </style>
    <title>ITEM DETAIL</title>
</head>
<body>
<div th:object="${item}" class="container">
    <!--    헤더-->
    <div th:insert="~{customer/fragment/header :: customerHeaderParam ('id')}">
    </div>
    <!--    헤더 끝-->
    <div class="py-3">
        <h3>백설기</h3>
    </div>
    <div class="row">
        <div class="m-3">
            <img src="./KakaoTalk_20220112_164317527.jpg" width="300" height="300">
        </div>
        <div class="m-3">
            <div>
                <label for="itemName">상품명</label>
                <input id="itemName" th:field="*{itemName}" readonly>
            </div>
            <div>
                <label for="price">가격</label>
                <input id="price" th:field="*{price}" readonly>
            </div>
            <div>
                <label for="quantity">수량</label>
                <input id="quantity" th:field="*{quantity}" readonly>
            </div>
            <div class="my-5"></div>
            <div>
                구매
            </div>
            <div>
                <form th:action method="post">
                    <select id="buyQuantity" name="buyQuantity">
                        <option value="">==수량을 선택해주세요==</option>
                        <option th:each="i : ${#numbers.sequence(1, 5)}" th:value="${i}" th:text="${i}"></option>
                    </select>
                    <div class="my-3">
                        <button type="submit" class="btn btn-primary btn-sm">구매</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="text-center">
        <img src="./KakaoTalk_20220112_164317527.jpg" width="300" height="300">
    </div>
    <div class="text-center">
        <img src="./KakaoTalk_20220112_164317527.jpg" width="300" height="300">
    </div>
</div>
</body>
</html>