<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header th:fragment="headerParam (id)">
    <div class="py-3">
        <h2><a href="/admin">동촌 떡방앗간</a></h2>
    </div>
    <div class="float-right">
        <a th:text="${id}">id</a>님
        <button th:onclick="|location.href='@{/admin/logout}'|" class="btn btn-link">로그아웃</button>
    </div>
</header>
</body>
</html>