<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ITEM DETAIL</title>
</head>
<body>
<div>
    <!--    헤더-->
    <div th:insert="~{admin/fragment/header :: headerParam ('id')}">
    </div>
    <!--    헤더 끝-->
    <div>
        <h3>백설기</h3>
    </div>
    <div>
        <button>수정하기</button>
        <img>
        <div>
            <div>
                <label for="itemName">상품명</label>
                <input id="itemName" readonly>백설기
            </div>
            <div>
                <label for="price">가격</label>
                <input id="price" readonly>10000
            </div>
            <div>
                <label for="quantity">수량</label>
                <input id="quantity" readonly>10
            </div>
        </div>
    </div>
    <hr>
    <div>
        <img>
        <img>
    </div>
</div>
</body>
</html>